body{
	font-family: 'Arial', sans-serif;
}
.is-hidden {
	display: none;
}


.game {
	font-size: 1.5em;
	
	text-align: center;
	label {
		cursor: pointer;
		padding: 5px;
		line-height: 1.7em;
	}

	@media (min-width: 600px) {
		font-size: 2em;
		label {
			line-height: 2.3em;
			margin: 0 5px;
		}
	}
}

.selected + label{
	background-color: #ccc;
}

.info{
	text-align: center;
	line-height: 2em
}

.header__input{
	line-height: 2.3em;
}

@media (min-width: 600px) {
	.header__input{
		display: inline-block;
	}
	.header__input:nth-of-type(2n){
		float: right;
	}
}
